.css-dip3t8 {
  background-color: #f2eae1 !important;
}

.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: #feaf00 !important;
}

.sideebarrr {
  position: sticky !important;
  top: 0 !important;
  left: 0px !important;
  z-index: 9999999999 !important;
}

.nav-Style {
  background: #ffffff !important ;
  position: relative;
  top: 0 !important;
  margin: 0 !important;
  padding: 0rem 0.7rem !important;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end !important;
  }
}

@media screen and (max-width: 991.5px) {
  .nav-Style {
    padding: 0.8rem 0.7rem !important;
  }
  .FForm-NavBar {
    justify-content: center !important;
  }
}
