.css-dip3t8 {
  background-color: #f2eae1 !important;
}

.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: #feaf00 !important;
}

.sideebarrr {
  position: sticky !important;
  top: 0 !important;
  left: 0px !important;
  z-index: 9999999999 !important;
}
