.div-All-Component {
  background-color: #f8f8f8;
}

@media screen and (max-width: 767.5px) {
  .BigDivSideBar {
    display: none;
  }
  .BigDivAllContent {
    width: 100% !important;
  }
  .divNavBootstrap {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .divNavBootstrap {
    display: none;
  }
  .BigDivSideBar {
    display: block;
  }
}
