.big-Div-All-Users {
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 1rem !important;
  padding: 2rem 0rem;
}

.div-Description-userList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.218);
}

.button-Description-userList {
  outline: 0;
  border: 0;
  background-color: #feaf00;
  color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
}

.button-Description-userList:hover {
  box-shadow: 0px 1px 4px #feaf00;
  background-color: #feae00ec;
}

.card {
  height: 525px !important;
}

@media screen and (max-width: 767.5px) {
  .div-Description-userList {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    gap: 0.5rem;
  }
}
